body
{
  margin: 0;
  padding: 0 0 0 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  font: 16px;
  line-height: 1.4;
  font-family: 'Arial', sans-serif;
}

/* General & 'Reset' Stuff */

.header
{
  width: 80%;
  margin: 0 auto;
}

section
{
  display: block;
  margin: 0 0 0 0;
}

h1, h2, h3, h4, h5, h6
{
  margin-top: 0px;
  margin-bottom:0px;
}

li
{
  line-height: 1.4;
}

/*
header is the container
h1 is "paradoxical"
span.hp2 is "software" (for color)
h2 is tagline
*/

header
{
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #01ffea;
  padding: 5px 0 10px 0;
  margin: 0 10% 0 10%;
}

header h1
{
  font-size: 40px;
  line-height: 1.5;
  margin: 0 0 0 -40px;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

header span.hp2
{
  color: #01ffea;
}

header h2
{
  font-family: 'Arial', sans-serif;
  margin: 0 0 0 -40px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

/* Menu */
menu
{
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #01ffea;
  margin: 0% 10% 0 10%;
}

menu ul
{
  list-style-type: none;
  margin: 0 -40px 0 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Anton', sans-serif;
}

menu li
{
  float: right;
}

menu li a
{
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

menu li a.active
{
  color: #fff;
}

menu li a:hover
{
  background-color: #01ffea;
  color: #fff;
}

/* Main Content */

/* unvisited link */
a:link
{
  color: #01ffea;
}

/* visited link */
a:visited
{
  color: #01ffea;
}

/* mouse over link */
a:hover
{
  color: hotpink; /* Angel wanted this :p */
}

/* selected link */
a:active
{
  color: white;
}

.body
{
  margin: 0% 10% 0 10%;
  padding: 0 0 0 0;
}

#main_content
{
  padding: 10px 10px 10px 10px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
}
section img
{
  max-width: 100%
}

h1, h2, h3, h4, h5, h6
{
  font-weight: normal;
  font-family: 'Anton', sans-serif;
  color: #fff;
}

footer
{
  background: rgba(0, 0, 0, 0.3);
  border-top: 1px dashed #01ffea;
  margin: 0% 10% 0 10%;
}

footer p
{
  padding: 0 10px 10px 10px;
}
